<% layout('/layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Park</h1>
    <div class="col-md-6 offset-md-3">
        <form class = 'mb-3 validated-form' action="/campgrounds" method="POST"  novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for ='title' class="form-label">Title</label>
                <input  class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for ='location' class="form-label">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required> 
            </div>
            <div class="mb-3">
                <label for ='image' class="form-label">Image</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>

            <div class="mb-3">
                <label for ='price-label' class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" name="campground[price]" id ='price' placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                  </div>
            </div>


            <div class=" mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" placeholder="Leave a description here" id="description" style="height: 100px" name="campground[description]" required></textarea>
                
              </div>
            <button type="submit" class="btn btn-primary">Add Park</button>
            <a href='/campgrounds' class="btn btn-secondary " tabindex="-1" role="button">back to all</a>
        </form>
    </div>
</div>

