body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(https://images.unsplash.com/photo-1596997000103-e597b3ca50df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    background-position:center;
}
.cover-container{
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 00.25rem solid transparent;
}

.nav-link:hover {
    color: white;
    border-bottom-color: rgba(255,255,255,0.5);
}

.btn-secondary{
    color: #333;
}

.btn-secondary:hover{
    color: rgb(226, 93, 17);
}

.nav-link.active {
    color: white;
    border-bottom-color: rgba(255,255,255,0.5);
}